# ========== GENERAL ==========
.DS_Store
.env
*.local
*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ========== NODE ==========
node_modules/
dist/
lib/
lib-types/
server/
logs/
coverage/
tsconfig.tsbuildinfo
.rollup.cache
.cache
.mf

# ========== DOCKER ==========
docker-compose.yml   #white space on purpose
docker-compose.yaml
.docker/
**/.dockerignore

# ========== YARN / PNPM ==========
.yarn/*
!.yarn/releases
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# ========== EDITORS ==========
.vscode/
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/

# ========== PROJECT STRUCTURE HINT ==========
ocha-auth-pro--fastify@node/dist/
ocha-auth-pro--fastify@node/.tsbuildinfo
ocha-auth-pro--qwik@node/.cache/
ocha-auth-pro--qwik@node/build/
ocha-auth-pro--qwik@node/playwright-report/

# ========== PROMETHEUS / MONITORING ==========
prometheus.yml            # may contain sensitive scrape targets
